<?php
$config = $block->getKey();
?>

<tr id="<?php echo $config['config_id']; ?>"
    path="<?php echo $config['path']; ?>"
    value="<?php echo $config['value']; ?>"
    scope_id="<?php echo $config['scope_id']; ?>"
    scope="<?php echo $config['scope']; ?>"
>
    <td class="config_id"><?php echo $config['config_id']; ?></td>
    <td class="scope"><?php echo $config['scope']; ?></td>
    <td class="scope_id"><?php echo $config['scope_id']; ?></td>
    <td class="path"><?php echo $config['path']; ?></td>
    <td>
        <textarea id="new_value_<?php echo $config['config_id']; ?>" rows="4"
                  cols="50"><?php echo $config['value']; ?></textarea>
        <input type="button" class="button" onclick="editConfigValueAjax('<?php echo $config['config_id']; ?>')"
               value="Input Button">
    </td>
</tr>
