<?php /** @var $block \Debug\Debug\Block\Config */ ?>

<?php $configArray = $block->getConfigArray() ?>



Szukajka: <input id="config_search_input" type="text" name="search"><br><br><br>

<table id="local_config_table" style="width:100%">
    <?php
    foreach ($configArray as $config) {
        echo $this->getLayout()
            ->createBlock("Magento\Framework\View\Element\Template")
            ->setKey($config)
            ->setTemplate("Debug_Debug::config_item.phtml")
            ->toHtml();
    }
    ?>
</table>

<script type="application/javascript">
    var editConfigValueUrl = '<?php echo $block->getAjaxUrl(); ?>';
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Debug_Debug/js/config-ajax":{}
        }
    }
</script>